
{{>layouts/header}}
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">병원 이름</th>
        <th scope="col">도로명주소</th>
    </tr>
    </thead>
    <tbody>
    {{#hospitals}}
        <tr>
            <th scope="row">{{id}}</th>
            <td><a href="/api/v1/hospitals/{{id}}">{{hospitalName}}</a></td>
            <td>{{roadNameAddress}}</td>
        </tr>
    {{/hospitals}}
    </tbody>
</table>
<ul class="pagination justify-content-center">
    <li class="page-item">
        <a class="page-link" href="?page={{previous}}">Previous</a>
    </li>
    <li class="page-item">
        <a class="page-link" href="?page={{next}}">Next</a>
    </li>
</ul>
{{>layouts/footer}}